#### Importing all the libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(color_codes = True)

pd.options.display.float_format = '{:.4f}'.format

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from IPython.core.display import display, HTML
display(HTML('<style>.container {width : 90%    !important }</style>'))


#The below imports are from sklearn
import sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

#### Importing the datasets

In [5]:
basedf = pd.read_csv('Bank_Personal_Loan_Modelling.csv')

#### copying the datasets

In [6]:
workingdf = basedf.copy()

In [7]:
#investigate the head
workingdf.head()

#Observation :
#Target column is Personal Loan.

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6000,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5000,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0000,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7000,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0000,2,0,0,0,0,0,1

#Output of the head command.
ID	Age	Experience	Income	ZIP Code	Family	CCAvg	Education	Mortgage	Personal Loan	Securities Account	CD Account	Online	CreditCard
0	1	25	1	49	91107	4	1.6000	1	0	0	1	0	0	0
1	2	45	19	34	90089	3	1.5000	1	0	0	1	0	0	0
2	3	39	15	11	94720	1	1.0000	1	0	0	0	0	0	0
3	4	35	9	100	94112	1	2.7000	2	0	0	0	0	0	0
4	5	35	8	45	91330	4	1.0000	2	0	0	0	0	0	1

Observation : I can remove the ID column.

In [9]:
#dropping the id column
workingdf.drop(['ID'], inplace = True, axis = 1)

In [15]:
#checking the datatypes and null values of each column 
workingdf.info()

#Observation :
# 1) None of the rows have null values - apparantly.
# 2) All the columns are identified as numericals.
# 1) None of the rows have null values - apparantly.
# 1) None of the rows have null values - apparantly.
# 1) None of the rows have null values - apparantly.
# 1) None of the rows have null values - apparantly.
# 1) None of the rows have null values - apparantly.
# 1) None of the rows have null values - apparantly.
# 1) None of the rows have null values - apparantly.
# 1) None of the rows have null values - apparantly.
# 1) None of the rows have null values - apparantly.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Experience          5000 non-null   int64
 2   Income              5000 non-null   int64
 3   ZIP Code            5000 non-null   int64
 4   Family              5000 non-null   int64
 5   CCAvg               5000 non-null   float64
 6   Education           5000 non-null   int64
 7   Mortgage            5000 non-null   int64
 8   Personal Loan       5000 non-null   int64
 9   Securities Account  5000 non-null   int64
 10  CD Account          5000 non-null   int64
 11  Online              5000 non-null   int64
 12  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(12)
memory usage: 507.9 KB

Output:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype  
---  ------              --------------  -----  
 0   Age                 5000 non-null   int64  
 1   Experience          5000 non-null   int64  
 2   Income              5000 non-null   int64  
 3   ZIP Code            5000 non-null   int64  
 4   Family              5000 non-null   int64  
 5   CCAvg               5000 non-null   float64
 6   Education           5000 non-null   int64  
 7   Mortgage            5000 non-null   int64  
 8   Personal Loan       5000 non-null   int64  
 9   Securities Account  5000 non-null   int64  
 10  CD Account          5000 non-null   int64  
 11  Online              5000 non-null   int64  
 12  CreditCard          5000 non-null   int64  
dtypes: float64(1), int64(12)
memory usage: 507.9 KB